{{ define "body" }}
{{ $p := (index .Site.Data.products .Site.Params.product_key) }}
{{ $rtl := eq .Params.direction "rtl" }}
<!-- header area start  -->
<header class="ads-navbar-area">
  <div class="container">
    <div class="is-flex is-justify-content-space-between">
      <div class="navbar-left">
        <a href="/" class="navbar-brand">
          <img src="/assets/images/products/kubedb/kubedb.svg" style="height: 1.58rem;" alt="KubeDB" loading="lazy">
          <span>by</span>
          <img src="/assets/images/logo/appscode/ac-logo-color.svg" alt="appscode-logo"
            class="appscode-logo is-hidden-mobile" loading="lazy">
          <img src="/assets/images/logo/appscode/ac-logo-moscot.svg" alt="appscode-logo-moscot"
            class="appscode-logo is-hidden-tablet" loading="lazy">

        </a>
      </div>
      <div class="navbar-right is-gap-16">

        <div class="dropdown is-hoverable">
          <div class="dropdown-trigger">
            <button class="button ac-button is-primary is-outlined" aria-haspopup="true" aria-controls="language-switch">
                <span>{{ .Params.lang }}</span>
                <span class="icon width-16">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                  </svg>                  
                </span>
            </button>
          </div>
          <div class="dropdown-menu" id="language-switch" role="menu">
            <div class="dropdown-content">
              {{ range $lang := site.Params.custom_languages }}
              <a href="{{ $lang.url }}" class="dropdown-item">
                {{ $lang.name }}
              </a>
              {{ end }}
            </div>
          </div>
        </div>

        <a href="https://appscode.com/contact/" target="_blank" class="button ac-button is-primary is-outlined">
          {{ .Params.contact_sales }}
        </a>
      </div>
    </div>
  </div>
</header>
<!-- header area start  -->

<!-- hero area start  -->
<section class="ads-hero-area section-padding is-flex is-align-items-center">
  <div class="container">
    <div class="columns is-vcentered is-multiline ">
      <div class="column is-two-thirds-desktop is-full-tablet">
        <div class="left-content {{if $rtl }} has-text-right {{ end }}">
          <h1>{{ .Title }}</h1>
          <p>{{ .Description }}</p>
    
          <ul class="check-list-items">
            {{ range .Params.hero_features}}
            <li class="{{if $rtl }} is-flex-direction-row-reverse{{ end }}">{{ . }}</li>
            {{ end }}
  
          </ul>

          <div class="buttons {{ if $rtl }} is-gap-8 is-flex-direction-row-reverse{{ end }}">
            <a href="https://appscode.com/contact/" target="_blank" class="button ac-button is-primary is-normal {{ if $rtl }} mr-0 {{ end }}">
              <span class="icon mr-8">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="width-20 height-20">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12.76c0 1.6 1.123 2.994 2.707 3.227 1.068.157 2.148.279 3.238.364.466.037.893.281 1.153.671L12 21l2.652-3.978c.26-.39.687-.634 1.153-.67 1.09-.086 2.17-.208 3.238-.365 1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018Z" />
                </svg>

              </span>
              <span>{{ .Params.contact_sales }}</span>
            </a>

            <!-- Calendly link widget begin -->
            <!-- <a href="" class="button ac-button is-primary is-outlined"
              onclick="Calendly.initPopupWidget({url: 'https://calendly.com/appscode/intro'});return false;">SCHEDULE
              DEMO</a> -->
            <!-- Calendly link widget end -->
            <a href="/docs/latest/setup/install/kubedb/" class="button ac-button is-primary is-normal is-outlined">{{ .Params.try_now }}</a>

            <!-- <a href="https://appscode.com/contact/" target="_blank"
                class="button ac-button is-primary is-outlined">REQUEST DEMO</a> -->
          </div>
        </div>
      </div>

      <div class="column is-two-fifths-desktop is-full-tablet">
        <div class="hero-image">
          <!-- <img src="/assets/images/ads/hero.png" alt="supported-databases"> -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- hero area end  -->

<!-- customers logo start -->
<section class="customers-logo-area section-padding pb-0">
  <div class="container">
    <div class="columns">
      <div class="column is-12">
        <h2 class="mb-8 {{if $rtl }} has-text-right {{ end }}">{{ .Params.social_prof_title }}</h2>
        {{ partial "components/social-prove.html" .}}
      </div>
    </div>
  </div>
</section>
<!-- customers logo end -->

<!-- features area start  -->
<section class="ads-features-area section-padding">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-6">
        <h3 class="mb-16  {{if $rtl }} has-text-right {{ end }}">{{ .Params.features_section.title }}</h3>
        <ul class="check-list-items">
          {{ range .Params.features_section.features }}
          <li class="{{if $rtl }} is-flex-direction-row-reverse{{ end }}">{{ . }}</li>
          {{ end }}
        </ul>
      </div>
      <div class="column is-6">
        <div class="custom-code-editor">
          <div class="editor-header">
            <span class="action close"></span>
            <span class="action maximize"></span>
            <span class="action minimize"></span>
          </div>
          {{ highlight (printf `helm install kubedb oci://ghcr.io/appscode-charts/kubedb \
  --version %s \
  --namespace kubedb --create-namespace \
  --set-file global.license=/path/to/the/license.txt \
  --wait --burst-limit=10000 --debug` $p.latestVersion) "bash" "style=dracula" }}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- features area end -->

<!-- supported platforms area start -->
<section class="supported-platforms-area section-padding">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-6">
        <div class="is-flex pr-30">
          <img src="/assets/images/ads/supported-platforms.png" alt="supported-platforms" loading="lazy">
        </div>
      </div>
      <div class="column is-6">
        <div class="right-content {{if $rtl }} has-text-right{{end}}">
          <h3 class="mb-16 {{if $rtl }} has-text-right {{ end }}">{{ .Params.kubernetes_platform.title }}</h3>

          <ul class="check-list-items">
            {{ range .Params.kubernetes_platform.platform_name }}
            <li class="{{if $rtl }} is-flex-direction-row-reverse{{ end }}">{{ . }}</li>
            {{ end }}
          </ul>

          <p>{{ .Params.kubernetes_platform.description }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- supported platforms area end -->

<!-- ui img  -->
<div class="ui-ss">
  <div class="container">
    <div class="columns">
      <div class="column is-12">
        <img src="/assets/images/ads/kubedb-ui.png" alt="kubedb-ui" loading="lazy">
      </div>
    </div>
  </div>
</div>
<!-- ui img  -->

<!-- pricing model  -->
<section class="pricing-model section-padding">
  <div class="container">
    <div class="columns">
      <div class="column is-12">
        <h3 class="mb-16 {{if $rtl }} has-text-right {{ end }}">{{ .Params.pricing_model.title }}</h3>
        <p class="{{if $rtl }} has-text-right {{ end }}">{{ .Params.pricing_model.description | safeHTML }}</p>
      </div>
    </div>
  </div>
</section>
<!-- pricing model  -->

<!-- support plan start  -->
<section class="ads-support-plan">
  <div class="container">
    <div class="columns">
      <div class="column is-12">
        <h3 class="mb-16 {{if $rtl }} has-text-right {{ end }}">{{ .Params.support_plans.title }}</h3>
        <div class="table-container">
          <table class="table is-fullwidth is-bordered {{if $rtl }} direction-rtl {{ end }}">
            <thead>
              <tr>
                {{ range .Params.support_plans.features_table.thead }}
                <th>{{ . }}</th>
                {{ end }}
              </tr>
            </thead>
            <tbody>
              {{ range .Params.support_plans.features_table.tbody }}
              <tr>
                <td class="{{if $rtl }} has-text-right {{ end }}">{{ .title }}</td>
                <td>{{ .silver }}</td>
                <td>{{ .gold }}</td>
                <td>{{ .platinum }}</td>
              </tr>
              {{ end }}
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</section>
<!-- support plan end -->

<!-- faq area start  -->
<section class="ads faq-area section-padding">
  <div class="container">
    <div class="columns is-vcentered ">
      <div class="column is-6">
        <div class="faq-left {{if $rtl }} has-text-right {{ end }}">

          <div class="faq-image mb-40">
            <img src="/assets/images/illustrations/faq.png" alt="faq-image" loading="lazy">
          </div>

          <h3 class="mb-8">{{ .Params.faq_area.title}}</h3>
          <p>{{ .Params.faq_area.description }}</p>
          <div class="buttons {{ if $rtl }} is-gap-8 is-flex-direction-row-reverse{{ end }}">
            <a href="https://appscode.com/contact/" target="_blank" class="button ac-button is-primary">
              <span class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="width-20 height-20">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12.76c0 1.6 1.123 2.994 2.707 3.227 1.068.157 2.148.279 3.238.364.466.037.893.281 1.153.671L12 21l2.652-3.978c.26-.39.687-.634 1.153-.67 1.09-.086 2.17-.208 3.238-.365 1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018Z" />
                </svg>
              </span>
              <span>{{ .Params.contact_sales }}</span>
            </a>
            <!-- <a href="#" class="button ac-button is-primary is-outlined"
              onclick="Calendly.initPopupWidget({url: 'https://calendly.com/appscode/intro'});return false;">SCHEDULE
              DEMO</a> -->
            <a href="/docs/latest/setup/install/kubedb/" class="button ac-button is-primary is-outlined"> {{ .Params.try_now }}</a>
          </div>

        </div>
      </div>
      <div class="column is-6">
        <div class="faq-right">
          <div class="ac-accordion-wrapper">
            {{ range $index, $item := .Params.faq_area.accordions }}
              <div class="single-accordion-item closed">
                <div class="accordion-heading {{if $rtl }} is-flex-direction-row-reverse{{ end }}">
                  <h3>{{ $item.title }}</h3>
                  <button class="icon" title="toggle">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                  </button>
                </div>
                <div class="accordion-body {{if $rtl }} has-text-right{{ end }}">
                  <p>{{ $item.description }}</p>
                </div>
              </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- faq area end  -->

<!-- footer area start   -->
<footer class="ads-footer-area">
  <div class="footer-top">
    <div class="container">
      <div class="columns is-multiline {{if $rtl }} is-flex-direction-row-reverse{{ end }}">
        <div class="column is-full-tablet is-half-desktop {{if $rtl }} has-text-right {{ end }}">
          <div class="brand-logo">
            <a href="https://appscode.com"><img src="/assets/images/products/appscode/appscode.svg" alt="AppsCode"
                class="img" loading="lazy"></a>
          </div>
          {{ range .Params.footer.about_appscode }}
          <p>{{ . }}</p>
          {{ end }}
        </div>

        <div class="column is-half-tablet is-one-quarter">
          <label class="mb-16 {{if $rtl }} has-text-right {{ end }}">{{ .Params.footer.contact_us.title }}</label>
          <div class="contact-info">
            <a href="mailto:sales@appscode.com" class="info-text mb-16"><span class="icon">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
              </span> <span>sales@appscode.com</span></a>
            <p class="info-text">
              <span class="icon"> <i class="fa fa-map-marker" aria-hidden="true"></i> </span><span>3937 Spencer St Apt
                118
                Las Vegas, NV 89119, USA
                Phone: +1(650)241-8486</span>
            </p>
          </div>
        </div>
        <div class="column is-half-tablet is-one-quarter">
          <div class="is-flex {{if $rtl }} is-justify-content-flex-start {{else}}is-justify-content-flex-end  {{ end }}">
            <img src="/assets/images/ads/qr-code.png" alt="qr code appscode" loading="lazy">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- footer footer-bottom start -->
  <div class="footer-bottom">
    <div class="container">
      <div class="columns is-vcentered {{if $rtl }} is-flex-direction-row-reverse{{ end }}">
        <div class="column is-4 {{if $rtl }} has-text-right-mobile has-text-right-tablet is-paddingless{{ else }} has-text-left-mobile has-text-left-tablet is-paddingless {{ end }}">
          <p><span class="icon"><i class="fa fa-copyright" aria-hidden="true"></i></span>{{ .Params.footer.copy_right}}</p>
        </div>
        <div class="column is-4 is-mobile has-text-centered-tablet is-paddingless">
          <a href="https://x.com/AppsCodeHQ" target="_blank"
            class="is-inline-flex gap-8 is-align-items-center is-justify-content-center">
            <span class="icon">
              <img src="/assets/images/icon/community/twitterx-solid-icon.svg" alt="twitterx-icon" loading="lazy">
            </span>
            <span>@AppsCodeHQ</span>
          </a>
        </div>
        <div class="column is-4 is-paddingless {{if $rtl }} has-text-left-mobile has-text-left-tablet has-text-left-desktop{{ else }} has-text-left-mobile has-text-left-tablet has-text-right-desktop {{ end }}">
          <a href="https://appscode.com/" target="_blank" class="info-text is-inline-flex {{if $rtl }} is-justify-content-flex-start{{ else }} is-justify-content-flex-end {{ end }}">
            <span class="icon">
              <i class="fa fa-globe" aria-hidden="true"></i>
            </span>
            <span>https://appscode.com</span></a>
        </div>
      </div>
    </div>
  </div>
  <!-- footer bottom end  -->
</footer>
<!-- footer area end  -->

<script>

  // custom accordion
  function acAccordion(actionBtn) {
    let accordionHeadingAll = document.querySelectorAll(actionBtn);

    // Create event listeners for each accordion heading
    Array.from(accordionHeadingAll).forEach((accordionHeading) => {
      accordionHeading.addEventListener("click", function () {
        let singleAcc = accordionHeading.closest(".single-accordion-item");

        let isOpen = singleAcc.classList.contains("open");

        // select all accordion
        let accordionItems = document.querySelectorAll(".single-accordion-item");
        Array.from(accordionItems).forEach((accordionItem) => {
          // close all item
          accordionItem.className = "single-accordion-item closed";
          let icon = accordionItem.querySelector(".icon .fa");
          if (icon) {
            icon.classList.replace("fa-minus", "fa-plus");
          }
          let accordionBody = accordionItem.querySelector(".accordion-body");
          accordionBody.style.maxHeight = null;
        });

        // get single element icon
        let icon = singleAcc.querySelector(".icon .fa");
        if (isOpen) {
          singleAcc.className = "single-accordion-item closed";
          let accordionBody = singleAcc.querySelector(".accordion-body");
          accordionBody.style.maxHeight = null;
          if (icon) {
            icon.classList.replace("fa-minus", "fa-plus");
          }
        } else {
          singleAcc.className = "single-accordion-item open";
          let accordionBody = singleAcc.querySelector(".accordion-body");
          accordionBody.style.maxHeight = accordionBody.scrollHeight + "px";
          if (icon) {
            icon.classList.replace("fa-plus", "fa-minus");
          }
        }
      });
    });
  }

  acAccordion(".accordion-heading h3");
  acAccordion(".accordion-heading .icon");
// accordion end
</script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<!-- Calendly link widget begin -->
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>

<script>
  // owl owlCarousel JS

  var owlSocialProve = $('.brand-image-wrapper');
  owlSocialProve.owlCarousel({
    loop: true,
    margin: 20,
    autoHeight: true,
    autoplay: true,
    nav: false,
    dots: false,
    fluidSpeed: true,
    smartSpeed: 3000,
    autoplayTimeout: 1000,
    autoplayHoverPause: true,
    rewindNav: false,
    rewindSpeed: 0,
    // autoHeight:true,
    autoWidth: true,
    responsiveClass: true,
    responsive: {
      0: {
        items: 4,
      },
      600: {
        items: 4,
      },
      1400: {
        items: 8,
      }
    }
  });
</script>

{{ end }}
