{{ $p := (index .Site.Data.products .Site.Params.product_key) }}
<div class="ac-trusted" data-product="{{ $p.key }}" data-theme="light">
  <div class="container">
    <p class="ac-trusted-label mb-8">Trusted by engineers at</p>
    <div class="brand-image-wrapper" aria-label="Customer logos">
      {{ range $customer := $.Site.Data.customers }}{{ if $customer.show }}
      <div class="ac-logo-box">
        <img src="{{ $customer.logo }}" alt="{{ $customer.name }}">
      </div>
      {{ end }}{{ end }}
    </div>
  </div>
</div>
