<!-- social prove logo area start   -->
<div class="social-prove-brand-area">
  <div class="container">
    <div class="columns">
      <div class="column is-12">
        <div class="brand-image-wrapper owl-carousel">
          {{ range $customer := $.Site.Data.customers }}
          {{ if $customer.show }}
          <div class="single-brand"><img src="{{ $customer.logo }}" alt="{{ $customer.name }}" loading="lazy"></div>
          {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- social prove logo area end -->