{{ $d := index $.Site.Data.products.kubedb.homepage "stats" }}

<section class="home-section home-section-white stats-section">
  <div class="container">
    <div class="columns is-variable is-6 is-vcentered">
      {{ range $d.stats }}
      <div class="column has-text-centered">
        <div class="stat">
          <div class="stat-value text-gradient">{{ .value }}</div>
          <div class="stat-label">{{ .label }}</div>
          <div class="stat-sub">{{ .sub }}</div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
