@mixin ac-button($colorName) {
  background-color: $colorName;
  color: var(--ac-fg-on-brand);
  border: none;

  &:hover {
    background-color: $colorName;
  }

  &:focus-visible {
    outline: none;
  }

  &.is-light {
    background-color: $colorName;
    color: $colorName;

    &.is-border {
      border: 1px solid $colorName;
    }

    &:hover {
      background-color: $colorName;
    }
  }

  &.is-outlined {
    background-color: transparent;
    border: 1px solid $colorName;
    color: $colorName;

    &:hover {
      background-color: $colorName;
      color: var(--ac-fg-on-brand);
    }
  }
}

@mixin absulate-shape($colorName, $width, $height) {
  position: absolute;
  content: "";
  width: $width;
  height: $height;
  background-color: $colorName;
  left: 0;
  top: 0;
}
