// notification style start
.notification-area {
  display: block;
  cursor: pointer;
  a {
    text-decoration: none !important;
    font-size: 14px;
    transition: 0.3s ease-in-out;
    text-align: center;
    span {
      white-space: nowrap;
    }
    &:hover {
      opacity: 0.8 !important;
    }
  }
  &.notification {
    padding: 6px 0;
    min-height: 40px;
    border-radius: 0;
    margin-bottom: 0;
    .delete {
      right: 15px;
      top: 50%;
      transform: translateY(-10px);
    }
    .notification-inner {
      padding: 0px 0;
      overflow: hidden;
      // position: relative;
      p {
        // animation: mymove 5s infinite;
        font-size: 16px;
        color: $ac-white;
        font-weight: 500;
        // position: absolute;

        a {
          font-weight: 600 !important;
          padding: 0 5px;
          font-family: $ac-font-paragraph;
        }
      }
    }
  }
  &.is-primary {
    background: var(--ac-primary); /* Old browsers */
    background: linear-gradient(-100deg, #fb00ff, rgb(255, 174, 0) 32%, #fe4d5d 70%, #ff7900);
  }
}
// notification style end
