
// count-down area start
.count-link-area {
  background-color: var(--ac-bg-subtle);
  position: relative;
  z-index: 1;
  .right-sidebar-wrapper {
    display: table;
    height: 100%;
    width: 100%;
    .right-sidebar-menu {
      display: table-cell;
      vertical-align: middle;
      width: 100%;
      ul {
        padding-left: 30px;
        border-left: 1px solid var(--ac-border);
        li {
          a {
            display: inline-block;
            color: var(--ac-link);
            padding: 10px 0;
            font-weight: 600;
            position: relative;
            z-index: 1;
            &::after {
              position: absolute;
              content: "";
              left: 0;
              bottom: 0;
              width: 0;
              height: 2px;
              background: var(--ac-brand);
              transition: 0.3s linear;
            }
            &:hover {
              color: var(--ac-fg);
              &::after {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}

.counter-area {
  background-color: var(--ac-bg-subtle);
  .single-count-wrapper {
    text-align: center;
    padding: 76px 40px;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: 0.3s ease-in-out;
    &:hover {
      background: var(--ac-surface);
      box-shadow: $ac-shadow-3;
      z-index: 3;
    }
    .count-icon {
      max-width: 180px;
      margin: 0 auto;
      margin-bottom: 40px;
      height: 170px;
      img {
        width: 100%;
      
      }
    }
    .count {
      font-size: 48px;
      font-weight: 700;
      color: var(--ac-fg);
      line-height: 1.5;
      transition: 0.3s ease-in-out;
    }
    &:hover .count {
      color: var(--ac-brand);
    }
    .name {
      color: var(--ac-fg);
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 20px;
    }
    .action-btn {
      font-size: 18px;
      font-weight: 600;
      position: absolute;
      bottom: 0;
      transition: 0.3s ease-in-out;
      margin-left: -50%;
      width: 100%;
      opacity: 0;
      visibility: hidden;
      color: var(--ac-brand);
    }
    &:hover .action-btn {
      opacity: 1;
      visibility: visible;
      bottom: 50px;
    }
  }
}
// count-down area end