// table tr:nth-child(even) {
//   background-color: var(--ac-bg-subtle, #f6f8fa);
// }

.content {
  table {
    display: block;
    overflow-x: auto;
    margin-bottom: 15px;
    border-radius: 2px;
  }
}
.content table thead td, .content table thead th {
  border-width: 1px;
}
.content table td, .content table th {
  border-width: 1px 1px 1px;
}
.content table tbody tr:last-child td, .content table tbody tr:last-child th {
  border-bottom-width: 1px;
}
