{{ $p := (index .Site.Data.products .Site.Params.product_key) }}
<!--========================== call to action start ========================== -->
<section class="cta-area">
  <div class="container">
    <div class="cta-area-inner">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column is-full-tablet is-half-tablet is-half-desktop">
            <h3>Run and Manage your Database on Kubernetes FREE !</h3>
            <p>{{ $p.name }} is FREE to use on any
              supported Kubernetes engines. You can deploy and
              manage
              your database in Kubernetes using {{ $p.name }}. There is no up-front investment required. We
              offer a 30 days license FREE
              of cost to try {{ $p.name }}.
            </p>
          </div>
          <div
            class="column is-full-tablet is-half-tablet is-half-desktop has-text-centered-touch has-text-right-desktop">
            <div class="buttons is-justify-content-flex-end">
              <a href="/docs/{{ $p.latestVersion }}/setup/" class="button ac-button is-white"
                data-aos-duration="900">TRY NOW FREE</a>
            <a href="{{ $.Site.Params.domain_appscode }}/contact/" class="button ac-button is-secondary"
              style="background-color: transparent; border: 1px solid #e7e7e7; color: #ffffff;">
                <span class="icon">
                  <iconify-icon icon="heroicons:chat-bubble-bottom-center" width="18" height="18"></iconify-icon>
                </span>
                <span>CONTACT US</span></a>
             </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- ==========================call to action end ========================== -->