<section class="testimonial-area">

  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-4">
        <div class="section-title">
          <h2 class="is-gradient">What They Are <span
              class="has-text-weight-light"> Talking About us</span></h2>
          <p>Trusted by top engineers at the most ambitious companies</p>
        </div>
        <!-- arrows start  -->
        <div class="arrows">
          <button class="button arrow is-rounded customPrevBtn" title="Previous">
            <span class="icon arrow-back">
              <iconify-icon icon="heroicons:arrow-small-left" width="24" height="24"></iconify-icon>
            </span>
          </button>
          <button class="button arrow is-rounded customNextBtn" title="Next">
            <span class="icon arrow-forward">
              <iconify-icon icon="heroicons:arrow-small-right" width="24" height="24"></iconify-icon>
            </span>
          </button>
        </div>
        <!-- arrows end -->
      </div>
      <div class="column is-8">
        <!-- owl-carousel -->
        <div class="testimonial-carousel-wrapper owl-carousel testimonial-carousel">
          {{ range $user := $.Site.Data.testimonials }}
          <!-- single testimonial item start  -->
          <div class="single-testimonial-item">
            <!-- user info wrapper start  -->
            <div class="user-info-wrapper">
              <figure class="image is-64x64">
                <img loading="lazy" class="is-rounded" src="{{ $user.profile }}" alt="{{ $user.name }}" width="64" height="64">
              </figure>
              <div class="user-info">
                <label>{{ $user.name }}</label>
                <p>{{ $user.job }}{{ if $user.companyKey }} at
                  {{ index $.Site.Data.customers $user.companyKey "name" }}{{ end }}</p>
              </div>
            </div>
            <!-- user info wrapper end -->
            <p>{{ $user.testimonial | safeHTML }}</p>
          </div>
          {{ end }}
        </div>
        <!-- single testimonial item end -->
      </div>
    </div>
  </div>
</section>